<h1>VoteEvents#create</h1>
<p>Find me in app/views/vote_events/create.html.erb</p>
git filter-branch --index-filter 'git rm --cached --ignore-unmatch controllers/vote_events_controlle.rb' --prune-empty --tag-name-filter cat -- --all
